
.black-border{
    max-width: 750px;
    min-height: 100px;
    /*border: 1px solid #333;*/
    font-weight: bold;
}


.vertical-box{
    min-height: 600px;
    /*background-color: #e1e1e1;*/
    font-size: 90px;
    
}




.lol{
    font-size: 26px;
}



.flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }

/*.body{
    background:url(images/Artboard\ 1.png) fixed center;
}*/

.yes{
    padding-top: 100px;
}

.top{
    text-indent: 50px;
    padding-right: 100px;
}

h1{
    color: #d97e97;
}


/*.menu-box{
    min-height: 600px;
    background-color: #e1e1e1;
   
    
}*/
.menu-box-out{
    max-height: 600px;
    background-color: #d97e97;
   
}

.navbar{
    padding-bottom: 70px;
}

.yellow{
    color: #ffdc62;
}

.truck{
    display: flex;
    justify-content: center;
    /*height: 900px;*/
    
   
    
}

.size{
    font-size: calc(1rem + .5vw);
    

    
}

.box{
    width: 500px;
    height: 700px;
    background-color: #e1e1e1;
   
   
    
}

.start{
    justify-content: start;
    align-items: start;
}


.foot{
    font-size: 15px;
}

.no{
    font-size: 20px;
}

.colo{
    color: #f58b1b;
}

.font{
    font-size: 10px;
    line-height: 100%;
}


.bg-body-pink{
    background-color: #d97e97;
    font-size: 25px;
}


.note{
    font-size: 15px;

}

.border{
    max-height: 600px;
    background-color: #f58b1b;
}



.nav-link:hover {
    color: #ffdc62;
    font-weight: 900;
    transition: 0.2s;
}